{% extends "index.html" %}
{% block content %}
    {% if current_user.est_admin %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <a class="btn btn-outline-info" href="{{ url_for('creer_album') }}" aria-label="Add a new album">Créer un album</a>
        </div>
    {% endif %}
    <form action="" method="post">
        <div class="d-flex flex-wrap flex-md-nowrap pt-3 pb-2 mb-5 border-bottom">
            <div class = "form-group mx-sm-3">
                <input class = "form-control" type="text" placeholder="Nom album" name="nom_album" id="nom_album">
                <small class = "form-text text-muted">Entrez le nom de l'album</small>
            </div>
            <div class = "form-group mx-sm-3">
                <input class = "form-control" type="text" placeholder="Date de parution" name="annee_parution" id="annee_parution">
                <small class = "form-text text-muted">Entrez l'année de parution de l'album</small>
            </div>
            <div class = "form-group mx-sm-3">
                <input class = "form-control" type="text" placeholder="Genre" name="nom_genre" id="nom_genre">
                <small class = "form-text text-muted">Entrez le genre de l'album</small>
            </div>
            <div class = "form-group mx-sm-3">
                <input class = "form-control" type="text" placeholder="Artiste" name="nom_artiste" id="nom_artiste">
                <small class = "form-text text-muted">Entrez le nom de l'artiste</small>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Rechercher</button>
        </div>
    </form>

    {% if request.method == "POST" %}
        <h1>Nombre de résultats : {{ albums.items|length }}</h1>
    {% endif %}
    <div class="row">
        {% for album in albums.items %}
            <div class="col-lg-3">
                <div class="card mb-4 shadow-sm">
                    <a href = "{{ url_for('album', id=album.id_album) }}"> <img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images_albums/'+album.image_album) }}"
                         alt="Illustration"></a>
                    <div class="card-body">
                        <a class = "text-primary text-decoration-none" href="/album/{{ album.id_album }}">{{ album.nom_album }}</a>
                        <p>
                            {% for artiste in album.artistes %}
                                {% if loop.index == album.artistes|length - 1 %}
                                    <a class = "text-secondary text-decoration-none" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>,
                                {%  else %}
                                    <a class = "text-secondary text-decoration-none" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for page_num in albums.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if albums.page == page_num %}
                    <a class = "btn btn-info mb-4" href="{{ url_for('albums', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class = "btn btn-outline-info mb-4" href="{{ url_for('albums', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
    {% endfor %}
{% endblock %}