{% extends "index.html" %}
{% block content %}
    {% if current_user.est_admin %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <button type="button" class="btn btn-outline-info" data-toggle="modal"
                data-target="#editionModal">Editer cet album
        </button>
        <form method="POST" action="{{ url_for("album_editer", id=album.id_album) }}">
            {{ form_album_editer.hidden_tag() }}
            <div class="modal fade" id="editionModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Éditer cet album</h5>
                        </div>
                        <div class="modal-body">
                            <fieldset class="form-group">
                                <div class="form-group">
                                    {{ form_album_editer.nom_album.label(class="form-control-label") }}
                                    {% if form_album_editer.nom_album.errors %}
                                        {{ form_album_editer.nom_album(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_editer.nom_album.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_editer.nom_album(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_album_editer.date_parution_album.label(class="form-control-label") }}
                                    {% if form_album_editer.date_parution_album.errors %}
                                        {{ form_album_editer.date_parution_album(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_editer.date_parution_album.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_editer.date_parution_album(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_album_editer.nouvel_artiste.label(class="form-control-label") }}
                                    {% if form_album_editer.nouvel_artiste.errors %}
                                        {{ form_album_editer.nouvel_artiste(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_editer.nouvel_artiste.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_editer.nouvel_artiste(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_album_editer.type_album.label(class="form-control-label") }}
                                    {{ form_album_editer.type_album(class="form-check") }}
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Annuler
                            </button>
                            {{ form_album_editer.submit(class="btn btn-outline-info") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-outline-info" data-toggle="modal"
                data-target="#editionModal2">Ajouter une musique
        </button>
        <form method="POST" action="{{ url_for("ajouter_musique_album", id=album.id_album) }}">
            {{ form_album_ajout_musique.hidden_tag() }}
            <div class="modal fade" id="editionModal2" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ajouter une musique</h5>
                        </div>
                        <div class="modal-body">
                            <fieldset class="form-group">
                                <div class="form-group">
                                    {{ form_album_ajout_musique.nom_musique.label(class="form-control-label") }}
                                    {% if form_album_ajout_musique.nom_musique.errors %}
                                        {{ form_album_editer.nom_album(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_ajout_musique.nom_musique.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_ajout_musique.nom_musique(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_album_ajout_musique.duree_musique.label(class="form-control-label") }}
                                    {% if form_album_ajout_musique.duree_musique.errors %}
                                        {{ form_album_ajout_musique.duree_musique(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_ajout_musique.duree_musique.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_ajout_musique.duree_musique(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_album_ajout_musique.genres_musique.label(class="form-control-label") }}
                                    {% if form_album_ajout_musique.genres_musique.errors %}
                                        {{ form_album_ajout_musique.genres_musique(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_ajout_musique.genres_musique.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_ajout_musique.genres_musique(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_album_ajout_musique.id_artistes.label(class="form-control-label") }}
                                    {% if form_album_ajout_musique.id_artistes.errors %}
                                        {{ form_album_ajout_musique.id_artistes(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form_album_ajout_musique.id_artistes.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_album_ajout_musique.id_artistes(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Annuler
                            </button>
                            {{ form_album_ajout_musique.submit(class="btn btn-outline-info") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST" action="{{ url_for("album_supprimer", id=album.id_album) }}">
            {{ form_album_supprimer.hidden_tag() }}
            <div class="form-group">
                {{ form_album_supprimer.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% endif %}
    <div class="mb-5">
        <div class="d-flex flex-row mb-4">
            <img class="img-fluid" style="width: 20em; margin-right:1em"
                 src="{{ url_for('static', filename='images_albums/'+album.image_album) }}" alt="Illustration">
            <div class="d-flex flex-column">
                <a class="text-decoration-none" href="{{ url_for('album', id=album.id_album) }}">
                    <h1>{{ album.nom_album }}</h1></a>
                <h4>{{ album.date_parution_album }}</h4>
                <div class="d-flex flex-row">
                    <h4 style="margin-top: 0.75em; margin-right:0.25em">Par </h4>
                    <a class="text-decoration-none" href="{{ url_for('artiste', id=artiste_album.id_artiste) }}"><h4
                            style="margin-top: 0.75em"> {{ artiste_album.nom_artiste }}</h4></a>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="etoiles">
                        {% set note = 0 %}
                            {% for i in range (1, 6) %}
                                {% if note_utilisateur < i %}
                                    <a href="{{ url_for('utilisateur_note_album', id_album=album.id_album, note=i, page='album', id_page=album.id_album) }}" class="text-decoration-none">
                                        <ion-icon name="star-outline" value=etoile{{ i }}" ></ion-icon>
                                    </a>
                                {% else %}
                                    {% set note = i %}
                                    <a href="{{ url_for('utilisateur_note_album', note=i, id_album=album.id_album, page='album', id_page=album.id_album) }}" class="text-decoration-none">
                                        <ion-icon name="star" value=etoile{{ i }}" ></ion-icon>
                                    </a>
                                {% endif %}
                            {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <ul class="list-group">
            {% for musique in album.musiques %}
                    <li class="list-group-item">
                        <div class="flex-column align-items-start text-decoration-none">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    {{ musique.nom_musique }}{% for i in range(max_len-(musique.nom_musique|length)) %}&nbsp;{% endfor %}
                                </h5>
                                <h5>{{ musique.duree_musique }}</h5>
                                {% if current_user.est_admin %}
                                    <form method="POST" action="{{ url_for('album_musique_suppression', id=musique.id_album) }}">
                                        <input type="hidden" name="musique_id" value={{ musique.id_musique }}>
                                        {{ form_suppression_musique.hidden_tag() }}
                                        <div class="form-group">
                                            <button type="submit" class="btn rounded-circle btn-primary">
                                                <span class="align-middle" data-feather="minus">{{ form_suppression_musique.submit(class="") }}</span>
                                            </button>
                                        </div>
                                    </form>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    <form method="POST" action="{{ url_for("album", id=id_album) }}">
                                    <input type="hidden" name="musique_id" value={{ musique.id_musique }}>
                                        <button type="button" class="btn rounded-circle btn-primary" data-toggle="modal"
                                                data-target="#exampleModal{{ loop.index }}"><span class="align-middle"
                                                                                                  data-feather="plus"></span>
                                        </button>

                                {% endif %}
                                <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Ajouter la musique à
                                                    : </h5>
                                            </div>
                                            <div class="modal-body">
                                                <fieldset class="form-group">
                                                    {% for playlist_perso in playlists_perso %}
                                                        <div class="checkbox">
                                                            <label><input type="checkbox" name="check"
                                                                          value={{ playlist_perso.id_playlist }}>{{ playlist_perso.nom_playlist }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </fieldset>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Annuler
                                                </button>
                                                <button type="submit" class="btn btn-primary">Confimer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% for artiste in musique.artistes %}
                            {% if artiste.nom_artiste != artiste_album.nom_artiste %}
                                {% if loop.index == musique.artistes|length - 1 %}
                                    <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                       href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                    ,
                                {% else %}
                                    <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                       href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>
{#                </form>#}
            {% endfor %}
        </ul>
    </div>
{% endblock %}