{% extends "index.html" %}
{% block content %}
    <div class="d-flex flex-row mb-4">
        <img class="img-fluid" style="width: 20em; margin-right:1em"
             src="{{ url_for('static', filename='images_artistes/'+artiste_album.image_artiste) }}" alt="Illustration">
        <div class="d-flex flex-column">
            <h1>{{ artiste_album.nom_artiste }}</h1>
        </div>
    </div>
    {% if albums.count() > 0 %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-5 border-bottom">
            <h1 class="h2">Albums</h1>
        </div>
        <ul class="list-group">
            {% for album in albums %}
                <li class="list-group-item">
                    <div class="mb-5">
                        <div class="d-flex flex-row mb-4">
                            <img class="img-fluid" style="width: 20em; margin-right:1em"
                                 src="{{ url_for('static', filename='images_albums/'+album.image_album) }}"
                                 alt={{ album.nom_album }}>
                            <div class="d-flex flex-column">
                                <a class="text-decoration-none" href="{{ url_for('album', id=album.id_album) }}">
                                    <h1>{{ album.nom_album }}</h1></a>
                                <h4>{{ album.date_parution_album }}</h4>
                                {% if current_user.is_authenticated %}
                                    <div class="etoiles">
                                        {% set note_utilisateur = notes_utilisateur_album[album.id_album] %}
                                        {% set note = 0 %}
                                        {% for i in range (1, 6) %}
                                            {% if note_utilisateur < i %}
                                                <a href="{{ url_for('utilisateur_note_album', id_album=album.id_album, note=i, page='artiste', id_page=id_artiste) }}"
                                                   class="text-decoration-none">
                                                    <ion-icon name="star-outline" value=etoile{{ i }}"></ion-icon>
                                                </a>
                                            {% else %}
                                                {% set note = i %}
                                                <a href="{{ url_for('utilisateur_note_album', note=i, id_album=album.id_album, page='artiste', id_page=id_artiste) }}"
                                                   class="text-decoration-none">
                                                    <ion-icon name="star" value=etoile{{ i }}"></ion-icon>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <ul class="list-group">
                            {% for musique in album.musiques %}
                                <li class="list-group-item">
                                    <div class="flex-column align-items-start text-decoration-none">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ musique.nom_musique }}</h5>
                                            <h5>{{ musique.duree_musique }}</h5>
                                            {% if current_user.est_admin %}
                                                <form method="POST"
                                                      action="{{ url_for('album_musique_suppression', id=musique.id_album) }}">
                                                    <input type="hidden" name="musique_id"
                                                           value={{ musique.id_musique }}>
                                                    {{ form_suppression_musique.hidden_tag() }}
                                                    <div class="form-group">
                                                        <button type="submit" class="btn rounded-circle btn-primary">
                                                            <span class="align-middle"
                                                                  data-feather="minus">{{ form_suppression_musique.submit(class="") }}</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                            {% if current_user.is_authenticated %}
                                                <form method="POST" action="{{ url_for("artiste", id=id_artiste) }}">
                                                    <input type="hidden" name="musique_id"
                                                           value={{ musique.id_musique }}>
                                                    <button type="button" class="btn rounded-circle btn-primary"
                                                            data-toggle="modal"
                                                            data-target="#exampleModal{{ musique.id_musique }}"><span
                                                            class="align-middle" data-feather="plus"></span>
                                                    </button>

                                                    <div class="modal fade" id="exampleModal{{ musique.id_musique }}"
                                                         tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Ajouter
                                                                        la
                                                                        musique à
                                                                        : </h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset class="form-group">
                                                                        {% for playlist_perso in playlists_perso %}
                                                                            <div class="checkbox">
                                                                                <label><input type="checkbox"
                                                                                              name="check"
                                                                                              value={{ playlist_perso.id_playlist }}>{{ playlist_perso.nom_playlist }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        Annuler
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Confimer
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for artiste in musique.artistes %}
                                        {% if artiste.nom_artiste != artiste_album.nom_artiste %}
                                            {% if loop.index == musique.artistes|length - 2 %}
                                                <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                                   href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                                ,
                                            {% else %}
                                                <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                                   href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if eps.count() > 0 %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-5 border-bottom">
            <h1 class="h2">EPs</h1>
        </div>
        <ul class="list-group">
            {% for ep in eps %}
                <li class="list-group-item">
                    <div class="mb-5">
                        <div class="d-flex flex-row mb-4">
                            <img class="img-fluid" style="width: 20em; margin-right:1em"
                                 src="{{ url_for('static', filename='images_albums/'+ep.image_album) }}"
                                 alt={{ ep.nom_album }}>
                            <div class="d-flex flex-column">
                                <a class="text-decoration-none" href="{{ url_for('album', id=ep.id_album) }}">
                                    <h1>{{ ep.nom_album }}</h1></a>
                                <h4>{{ ep.date_parution_album }}</h4>
                                {% if current_user.is_authenticated %}
                                    <div class="etoiles">
                                        {% set note_utilisateur = notes_utilisateur_ep[ep.id_album] %}
                                        {% set note = 0 %}
                                        {% for i in range (1, 6) %}
                                            {% if note_utilisateur < i %}
                                                <a href="{{ url_for('utilisateur_note_album', note=i, id_album=ep.id_album, page='artiste', id_page=id_artiste) }}"
                                                   class="text-decoration-none">
                                                    <ion-icon name="star-outline" value=etoile{{ i }}"></ion-icon>
                                                </a>
                                            {% else %}
                                                {% set note = i %}
                                                <a href="{{ url_for('utilisateur_note_album', note=i, id_album=ep.id_album, page='artiste', id_page=id_artiste) }}"
                                                   class="text-decoration-none">
                                                    <ion-icon name="star" value=etoile{{ i }}"></ion-icon>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <ul class="list-group">
                            {% for musique in ep.musiques %}
                                <li class="list-group-item">
                                    <div class="flex-column align-items-start text-decoration-none">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ musique.nom_musique }}</h5>
                                            <h5>{{ musique.duree_musique }}</h5>
                                            {% if current_user.est_admin %}
                                                <form method="POST"
                                                      action="{{ url_for('album_musique_suppression', id=musique.id_album) }}">
                                                    <input type="hidden" name="musique_id"
                                                           value={{ musique.id_musique }}>
                                                    {{ form_suppression_musique.hidden_tag() }}
                                                    <div class="form-group">
                                                        <button type="submit" class="btn rounded-circle btn-primary">
                                                            <span class="align-middle"
                                                                  data-feather="minus">{{ form_suppression_musique.submit(class="") }}</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                            {% if current_user.is_authenticated %}
                                                <form method="POST" action="{{ url_for("artiste", id=id_artiste) }}">
                                                    <input type="hidden" name="musique_id"
                                                           value={{ musique.id_musique }}>
                                                    <button type="button" class="btn rounded-circle btn-primary"
                                                            data-toggle="modal"
                                                            data-target="#exampleModal{{ musique.id_musique }}"><span
                                                            class="align-middle" data-feather="plus"></span>
                                                    </button>

                                                    <div class="modal fade" id="exampleModal{{ musique.id_musique }}"
                                                         tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Ajouter
                                                                        la
                                                                        musique à
                                                                        : </h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset class="form-group">
                                                                        {% for playlist_perso in playlists_perso %}
                                                                            <div class="checkbox">
                                                                                <label><input type="checkbox"
                                                                                              name="check"
                                                                                              value={{ playlist_perso.id_playlist }}>{{ playlist_perso.nom_playlist }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        Annuler
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Confimer
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for artiste in musique.artistes %}
                                        {% if artiste.nom_artiste != artiste_album.nom_artiste %}
                                            {% if loop.index == musique.artistes|length - 2 %}
                                                <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                                   href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                                ,
                                            {% else %}
                                                <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                                   href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if singles.count() > 0 %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-5 border-bottom">
            <h1 class="h2">Singles</h1>
        </div>
        <ul class="list-group">
            {% for single in singles %}
                <li class="list-group-item">
                    <div class="mb-5">
                        <div class="d-flex flex-row mb-4">
                            <img class="img-fluid" style="width: 20em; margin-right:1em"
                                 src="{{ url_for('static', filename='images_albums/'+single.image_album) }}"
                                 alt={{ single.nom_album }}>
                            <div class="d-flex flex-column">
                                <a class="text-decoration-none" href="{{ url_for('album', id=single.id_album) }}">
                                    <h1>{{ single.nom_album }}</h1></a>
                                <h4>{{ single.date_parution_album }}</h4>
                                {% if current_user.is_authenticated %}
                                    {% set note_utilisateur = notes_utilisateur_single[single.id_album] %}
                                    <div class="etoiles">
                                        {% set note = 0 %}
                                        {% for i in range (1, 6) %}
                                            {% if note_utilisateur < i %}
                                                <a href="{{ url_for('utilisateur_note_album', note=i, id_album=single.id_album, page='artiste', id_page=id_artiste) }}"
                                                   class="text-decoration-none">
                                                    <ion-icon name="star-outline" value=etoile{{ i }}"></ion-icon>
                                                </a>
                                            {% else %}
                                                {% set note = i %}
                                                <a href="{{ url_for('utilisateur_note_album', note=i, id_album=single.id_album, page='artiste', id_page=id_artiste) }}"
                                                   class="text-decoration-none">
                                                    <ion-icon name="star" value=etoile{{ i }}"></ion-icon>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <ul class="list-group">
                            {% for musique in single.musiques %}
                                <li class="list-group-item">
                                    <div class="flex-column align-items-start text-decoration-none">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ musique.nom_musique }}</h5>
                                            <h5>{{ musique.duree_musique }}</h5>
                                            {% if current_user.est_admin %}
                                                <form method="POST"
                                                      action="{{ url_for('album_musique_suppression', id=musique.id_album) }}">
                                                    <input type="hidden" name="musique_id"
                                                           value={{ musique.id_musique }}>
                                                    {{ form_suppression_musique.hidden_tag() }}
                                                    <div class="form-group">
                                                        <button type="submit" class="btn rounded-circle btn-primary">
                                                            <span class="align-middle"
                                                                  data-feather="minus">{{ form_suppression_musique.submit(class="") }}</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                            {% if current_user.is_authenticated %}
                                                <form method="POST" action="{{ url_for("artiste", id=id_artiste) }}">
                                                    <input type="hidden" name="musique_id"
                                                           value={{ musique.id_musique }}>
                                                    <button type="button" class="btn rounded-circle btn-primary"
                                                            data-toggle="modal"
                                                            data-target="#exampleModal{{ musique.id_musique }}"><span
                                                            class="align-middle" data-feather="plus"></span>
                                                    </button>

                                                    <div class="modal fade" id="exampleModal{{ musique.id_musique }}"
                                                         tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Ajouter
                                                                        la
                                                                        musique à
                                                                        : </h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <fieldset class="form-group">
                                                                        {% for playlist_perso in playlists_perso %}
                                                                            <div class="checkbox">
                                                                                <label><input type="checkbox"
                                                                                              name="check"
                                                                                              value={{ playlist_perso.id_playlist }}>{{ playlist_perso.nom_playlist }}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </fieldset>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        Annuler
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Confimer
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for artiste in musique.artistes %}
                                        {% if artiste.nom_artiste != artiste_album.nom_artiste %}
                                            {% if loop.index == musique.artistes|length - 2 %}
                                                <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                                   href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                                ,
                                            {% else %}
                                                <a class="mb-1 text-secondary text-decoration-none flex-column align-items-start"
                                                   href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}