{% extends "index.html" %}
{% block content %}
    <div class="row">
        {% for artiste in artistes.items %}
            <div class="col-lg-3">
                <div class="card mb-4 shadow-sm">

                    <div class="card-body">
                        <a class = "text-primary text-decoration-none" href="/artiste/{{ artiste.id_artiste }}">
                            <img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images_artistes/'+artiste.image_artiste) }}" alt="Illustration">
                            <h4 class="align-middle">{{ artiste.nom_artiste }}</h4>
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for page_num in artistes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if artistes.page == page_num %}
                    <a class = "btn btn-info mb-4" href="{{ url_for('artistes', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class = "btn btn-outline-info mb-4" href="{{ url_for('artistes', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
    {% endfor %}
{% endblock %}