{% extends "index.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for("creer_playlist") }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.nom_playlist.label(class="form-control-label") }}
                    {% if form.nom_playlist.errors %}
                        {{ form.nom_playlist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nom_playlist.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nom_playlist(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.description_playlist.label(class="form-control-label") }}
                    {% if form.description_playlist.errors %}
                        {{ form.description_playlist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description_playlist.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description_playlist(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.est_public.label(class="form-control-label") }}
                    {{ form.est_public(class="form-check") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}