{% extends "index.html" %}
{% block content %}
    <div class="d-flex flex-row mb-4">
        <img class="img-fluid" style="width: 20em; margin-right:1em" src="{{ url_for('static', filename='images_genres/'+nom_genre) }}.jpg"
                         alt="Illustration">
        <div class="d-flex flex-column">
            <h1>{{ nom_genre }}</h1>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-5 border-bottom">
        <h1 class="h2">Albums</h1>
    </div>
    <div class="row">
        {% for album in albums.items %}
            <div class="col-lg-3">
                <div class="card mb-4 shadow-sm">
                    <a href = "{{ url_for('album', id=album.id_album) }}"> <img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images_albums/'+album.image_album) }}"
                         alt="Illustration"></a>
                    <div class="card-body">
                        <a class = "text-primary text-decoration-none" href="/album/{{ album.id_album }}">{{ album.nom_album }}</a>
                        <p>
                            {% for artiste in album.artistes %}
                                {% if loop.index == album.artistes|length - 1 %}
                                    <a class = "text-secondary text-decoration-none" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>,
                                {%  else %}
                                    <a class = "text-secondary text-decoration-none" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for page_num in albums.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if albums.page == page_num %}
                    <a class = "btn btn-info mb-4" href="{{ url_for('genre', nom_genre=nom_genre, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class = "btn btn-outline-info mb-4" href="{{ url_for('genre', nom_genre=nom_genre, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
    {% endfor %}
{% endblock %}