{% extends "index.html" %}
{% block content %}
    <div class="row">
        {% for genre in genres.items %}
            <div class="col-lg-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <a class = "text-primary text-decoration-none" href="/genre/{{ genre.nom_genre }}">
                            <img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images_genres/'+genre.nom_genre) }}.jpg"
                         alt="Illustration">
                            <h4 class="align-middle">{{ genre.nom_genre }}</h4>
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for page_num in genres.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if genres.page == page_num %}
                    <a class = "btn btn-info mb-4" href="{{ url_for('genres', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class = "btn btn-outline-info mb-4" href="{{ url_for('genres', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
    {% endfor %}
{% endblock %}