{% extends "index.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Bonjour, {{ current_user.pseudo_utilisateur }}</h1>
    {% else %}
        <h1>Bonjour, invité</h1>
    {% endif %}

    <div class="row">
        {% for album in albums.items %}
            <div class="col-lg-3">
                <div class="card mb-4 shadow-sm">
                    <a href = "{{ url_for('album', id=album.id_album) }}" ><img class="card-img mx-auto mt-4" src="{{ url_for('static', filename='images_albums/'+album.image_album) }}"
                         alt="Illustration"></a>
                    <div class="card-body">
                        <a class = "text-primary text-decoration-none" href="/album/{{ album.id_album }}">{{ album.nom_album }}</a>
                        <p>
                            {% for artiste in album.artistes %}
                                {% if loop.index == album.artistes|length - 1 %}
                                    <a class = "text-secondary text-decoration-none" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>,
                                {%  else %}
                                    <a class = "text-secondary text-decoration-none" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for page_num in albums.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if albums.page == page_num %}
                    <a class = "btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class = "btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
    {% endfor %}
{% endblock %}