<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>RockDB</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for('home') }}">RockDB</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Rechercher" aria-label="Search">
    {% if current_user.is_authenticated %}
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href=#>{{ current_user.pseudo_utilisateur }}</a>
    {% endif %}
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a>
            {% else %}
                <a class="nav-link" href="{{ url_for('login') }}">Se connecter</a>
            {% endif %}
        </li>
    </ul>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    {% if request.url_rule.endpoint == "home" %}
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">
                    {% else %}
                        <a class="nav-link" href="{{ url_for('home') }}">
                    {% endif %}
                            <span data-feather="home"></span>
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if request.url_rule.endpoint == "albums" %}
                            <a class="nav-link active" aria-current="page" href="{{ url_for('albums') }}">
                        {% else %}
                            <a class="nav-link" href="{{ url_for('albums') }}">
                        {% endif %}
                                <span data-feather="disc"></span>
                                Bibliothèque
                            </a>

                    </li>
                    <li class="nav-item">
                        {% if request.url_rule.endpoint == "artistes" %}
                            <a class="nav-link active" aria-current="page" href="{{ url_for('artistes') }}">
                        {% else %}
                            <a class="nav-link" href="{{ url_for('artistes') }}">
                        {% endif %}
                                <span data-feather="users"></span>
                                Artistes
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.url_rule.endpoint == "genres" %}
                            <a class="nav-link active" aria-current="page" href="{{ url_for('genres') }}">
                        {% else %}
                            <a class="nav-link" href="{{ url_for('genres') }}">
                        {% endif %}
                                <span data-feather="layers"></span>
                                Genres
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.url_rule.endpoint == "playlists" %}
                            <a class="nav-link active" aria-current="page" href="{{ url_for('playlists') }}">
                        {% else %}
                            <a class="nav-link" href="{{ url_for('playlists') }}">
                        {% endif %}
                            <span data-feather="book-open"></span>
                            Playlists publiques
                        </a>
                    </li>
                </ul>
                {% if current_user.is_authenticated %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Vos playlists</span>
                        <a class="link-secondary" href="{{ url_for('creer_playlist') }}"
                           aria-label="Add a new playlist">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {% for playlist in playlists %}
                            <li class="nav-item">
                                {% if request.path == "/playlist/"+(playlist.id_playlist)|string %}
                                    <a class="nav-link active" aria-current="page" href="{{ url_for('playlist', id=playlist.id_playlist) }}">
                                {% else %}
                                    <a class="nav-link" href="{{ url_for('playlist', id=playlist.id_playlist) }}">
                                {% endif %}
                                    {{ playlist.nom_playlist }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% if title %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                    <h1 class="h2">{{ title }}</h1>
                </div>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="../static/js/dashboard/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="../static/js/dashboard.js"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>
