{% extends "index.html" %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ playlist.nom_playlist }}</h1>
        {% if current_user.is_authenticated %}
            {% if playlist not in playlists%}
                <form method="POST" action="{{ url_for("playlist_enregistrer", id=id_playlist) }}">
                    {{ form_enregistrer.hidden_tag() }}
                    <div class="form-group">
                        {{ form_enregistrer.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            {% endif %}
            {% if playlist in playlists and playlist not in playlists_perso%}
                <form method="POST" action="{{ url_for("playlist_desenregistrer", id=id_playlist) }}">
                    {{ form_desenregistrer.hidden_tag() }}
                    <div class="form-group">
                        {{ form_desenregistrer.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            {% endif %}
            {% if current_user.pseudo_utilisateur == playlist.pseudo_createur_playlist %}
                <button type="button" class="btn btn-outline-info" data-toggle="modal"
                        data-target="#editionModal">Editer cette playlist
                </button>
                <form method="POST" action="{{ url_for("playlist_editer", id=id_playlist) }}">
                    {{ form_editer.hidden_tag() }}
                    <div class="modal fade" id="editionModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editer cette playlist
                                        : </h5>
                                </div>
                                <div class="modal-body">
                                    <fieldset class="form-group">
                                        <div class="form-group">
                                            {{ form_editer.nom_playlist.label(class="form-control-label") }}
                                            {% if form_editer.nom_playlist.errors %}
                                                {{ form_editer.nom_playlist(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form_editer.nom_playlist.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form_editer.nom_playlist(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form_editer.description_playlist.label(class="form-control-label") }}
                                            {% if form_editer.description_playlist.errors %}
                                                {{ form_editer.description_playlist(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form_editer.description_playlist.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form_editer.description_playlist(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form_editer.est_public.label(class="form-control-label") }}
                                            {{ form_editer.est_public(class="form-check") }}
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Annuler
                                    </button>
                                    {{ form_editer.submit(class="btn btn-outline-info") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="POST" action="{{ url_for("playlist_supprimer", id=id_playlist) }}">
                    {{ form_supprimer.hidden_tag() }}
                    <div class="form-group">
                        {{ form_supprimer.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class = "mb-5">
        <div class = "d-flex flex-row mb-4">
            <div class = "d-flex flex-column">
                <h4>{{ playlist.description_playlist }}</h4>
                <div class = "d-flex flex-row">
                    <h4 style="margin-top: 0.75em; margin-right:0.25em">Par  </h4>
                    <h4 style="margin-top: 0.75em"> {{ playlist.pseudo_createur_playlist }}</h4>
                </div>
            </div>
        </div>
        <ul class="list-group">
            {% for musique in musiques %}

                <li class="list-group-item">
{#                <div class="flex-column align-items-start text-decoration-none">#}
                    <div class="d-flex w-100 justify-content-between">

                        <h5 class="mb-1"><a class ="text-primary text-decoration-none" href="{{ url_for('album', id = musique.id_album) }}">{{ musique.nom_musique }}</a></h5>
                      <h5>{{ musique.duree_musique }}</h5>
                        {% if current_user.pseudo_utilisateur == playlist.pseudo_createur_playlist %}
                            <form method="POST" action="{{ url_for("playlist_musique_suppression", id=id_playlist) }}">
                                <input type="hidden" name="musique_id" value={{ musique.id_musique }}>
                                {{ form_suppression_musique.hidden_tag() }}
                                <div class="form-group">
                                    <button type="submit" class="btn rounded-circle btn-primary">
                                        <span class="align-middle" data-feather="minus">{{ form_suppression_musique.submit(class="") }}</span>
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
{#                </div>#}
                {% for artiste in musique.artistes %}

                        {% if loop.index == musique.artistes|length - 1 %}
                            <a class = "mb-1 text-secondary text-decoration-none flex-column align-items-start" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>,
                        {%  else %}
                            <a class = "mb-1 text-secondary text-decoration-none flex-column align-items-start" href="{{ url_for('artiste', id=artiste.id_artiste) }}">{{ artiste.nom_artiste }}</a>
                        {% endif %}

                {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}