{% extends "index.html" %}
{% block content %}
<div class = "mb-5">
    <ul class="list-group">
        {% for playlist in playlists_visible %}
            <li class="list-group-item">
            <a href = "{{ url_for('playlist', id=playlist.id_playlist) }}" class="flex-column align-items-start text-decoration-none">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ playlist.nom_playlist }}</h5>
            </div>
            </a>
            <h6>{{ playlist.pseudo_createur_playlist }}</h6>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}